.about {
    &__brand {
        &-text {
            p {
                font-size: 18px;
                line-height: 170%;
                color: #3D3935;
            }

            p + p {
                margin-top: 35px;
            }
            
            span {
                font-weight: bold;
            }

        }
    }

    &__products {
        &-title {
            margin-bottom: 64px;
        }
    }

    &__content {
        &-title {
            font-size: 48px;
            line-height: 66px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        padding: 60px 0;
        max-width: 660px;
        margin-right: 40px;
        &-text {
            font-size: 18px;
            line-height: 170%;
            color: #3D3935;
            margin: 35px 0;
        }

        &-btn {
            display: inline-block;
            &+& {
                margin-left: 25px;
            }
        }

        &-img {
            width: 100%;
            height: auto;
            max-width: 500px;
        }
    }

    &__all {
        margin-top: 100px 0;
        font-weight: normal;
        font-size: 18px;
        line-height: 170%;
        color: #000000;

        &-text {
            margin: 35px 0;
        }

        &-list {
            list-style: inside;
        }
    }
}