.catalog {
  padding: 60px 0 120px;

  &__title {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  &__page {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin-left: 40px;
    max-width: 860px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__model {
    width: 100%;
    margin-bottom: 35px;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
    &-btn {
      background: none;
      border: none;
    }
    &-item {
      cursor: pointer;
    }
    &-item + &-item {
      padding-left: 4%;
      border-left: 1px solid #f6f6f6;
    }
  }

  &__sorting {
    display: flex;
    align-items: center;
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #3d3935;
      margin-right: 8px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  &__model-item {
    min-width: 50px;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }
}

.sorting {
  position: relative;
  z-index: 10;
  &__header {
    background: #f6f6f6;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 4px 17px;
    min-width: 185px;
    cursor: pointer;
  }

  &__current {
    font-size: 14px;
    line-height: 21px;
    color: #9c9c9c;
    user-select: none;
  }

  &__arrow {
    margin-left: 5px;
    transition: all 0.2s linear;
  }

  &__body {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: #f6f6f6;
    border-radius: 20px;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 17px;
    color: #9c9c9c;
    display: none;
  }

  &__item {
    cursor: pointer;

    & + & {
      margin-top: 5px;
    }

    &:hover {
      color: #3d3935;
    }
  }
}

.aside {
  width: 265px;

  input {
    outline: none;
  }

  &__search {
    &-input {
      background: #f6f6f6;
      border-radius: 100px;
      width: 100%;
      padding: 7px 32px 7px 16px;
      border: none;
      outline: none;
      background-position: 90%;
      background-color: #f6f6f6;
      background-repeat: no-repeat;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9c9c9c;

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #9c9c9c;
      }
    }
  }

  &__checkbox {
    position: relative;
    display: flex;
    margin-top: 20px;
  }

  &__check {
    appearance: none;
  }

  &__check:checked + &__label::after {
    opacity: 1;
  }

  &__label {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #9c9c9c;
    padding-left: 30px;
    user-select: none;
    font-size: 14px;
    line-height: 21px;
    color: #3d3935;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background: #f6f6f6;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &::after {
      content: '';
      opacity: 0;
      display: block;
      width: 13px;
      height: 10px;
      background-image: url(../images/icons/check-icon.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 7px;
      left: 5px;
      z-index: 2;
      transition: opacity 0.1s linear;
    }
  }

  &__block {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #f6f6f6;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  &__price {
    &-input {
      width: 100px;
      padding: 6px 8px;
      background: #f6f6f6;
      border-radius: 100px;
      border: none;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #3d3935;

      &::placeholder {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #9c9c9c;
      }
    }

    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-top: 16px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 15%;
        height: 1px;
        background: #9c9c9c;
      }
    }
  }
}
