.characteristic {
  margin: 50px 0 120px;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
  }

  &__product {
    max-width: 560px;

    &-images {
      position: relative;
      margin-bottom: 48px;
      &-inner {
        height: 100%;
      }
      &-hooper {
        width: 100% !important;
        height: 100% !important;
        max-width: 540px !important; 
        max-height: 540px !important;
      }
    }
    &-img {
      width: 100%;
      height: auto;
    }
    &-bookmark {
      position: absolute;
      background: none;
      border: none;
      top: 0;
      right: 0;
      width: 48px;
      height: 48px;
    }
  }

  &__content {
    max-width: 560px;
  }

  &__code {
    font-size: 14px;
    line-height: 21px;
    color: #9c9c9c;
    margin-bottom: 48px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 132%;
    color: #3d3935;
    margin-bottom: 24px;
  }

  &__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 132%;
    color: #d05871;
    margin-bottom: 24px;
  }

  &__number {
    display: flex;
    font-size: 14px;
    line-height: 21px;
    color: #3d3935;
    margin-bottom: 35px;

    p {
      margin-right: 16px;
    }

    &-num {
      margin: 0 !important;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__buy {
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 16px 72px;
    margin-right: 36px;
    background: #d05871;
    border: none;
    border-radius: 100px;
    margin-bottom: 24px;
  }

  &__link {
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #d05871;
    padding-left: 32px;
    position: relative;
    margin-bottom: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }

    &-constructor {
      margin-right: 34px;
      &::before {
        background-image: url(../images/icons/characteristic-brush.svg);
      }
    }
    &-foto {
      &::before {
        background-image: url(../images/icons/characteristic-photo.svg);
      }
    }
  }

  &__info {
    margin-bottom: 24px;
    padding: 24px 0;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;

    &-buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-btn {
      background: #f6f6f6;
      border-radius: 100px;
      border: none;
      padding: 8px 16px;
      font-size: 12px;
      line-height: 15px;
      color: #9c9c9c;
      margin-bottom: 15px;

      &.active {
        background: #ffd0da;
        color: #d05871;
      }

      & + & {
        margin-left: 16px;
      }
    }

    &-text {
      display: flex;
    }

    &-text + &-text {
      margin-top: 16px;
    }

    &-bold {
      width: 30%;
      margin-right: 10px;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }

    &-content {
      width: 70%;
      font-size: 14px;
      line-height: 21px;
      color: #9c9c9c;
    }
  }

  &__accordion {
    width: 100%;
    & + & {
      margin-top: 24px;
    }
    &-title {
      width: 100%;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #d05871;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      user-select: none;
    }
    &-text {
      font-size: 14px;
      line-height: 132%;
      color: #9c9c9c;
      padding: 25px 0;
      border-bottom: 1px solid #f6f6f6;

      ol {
        margin: 16px 0 24px;
        padding-left: 15px;
        li + li {
          margin-top: 15px;
        }
      }
    }
  }
}
