.history {

    &__title {
        line-height: 108%;
    }

    &__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 170%;
        color: #3D3935;
        margin: 35px 0;
    }

    &__img {
        width: 100%;
        height: auto;
    }
}