.inside {
  p:not(.corporate__item-text) {
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #3D3935;
  }

  &__title {
    span {
      color: #D05871;
    }
  }

  &__block {
    padding: 60px 0;
    p {
      margin: 35px 0;
    }

    ul{
      list-style: inside;
      li + li {
        margin-top: 7px;
      }
    }
  }
}

.mission {
  &__content {
      padding: 60px 0;
  }

  &__title {
      margin-bottom: 25px;
  }

  &__text {
      font-weight: normal;
      font-size: 18px;
      line-height: 170%;
      color: #3D3935;

      & + & {
          margin-top: 35px;
      }
  }

  &__img {
      display: block;
      margin: 35px auto 0;
  }
}

.delivery {
  &__title {
    max-width: 900px;
  }
  
  &__subtitle {
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    text-transform: uppercase;
    color: #3D3935;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;

    img {
      width: 100%;
    }
  }

&__phone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

  &__tel{
    margin-left: 30px !important;
    font-weight: 600 !important;
    font-size: 18px;
    line-height: 132%;
    color: #3D3935;
  }
}

.recovery {
  &__title {
    line-height: 100%;
    margin-bottom: 35px;
    span {
      display: block;
    }
  }

  ul {
    li {
      font-weight: normal;
      font-size: 18px;
      line-height: 170%;
      color: #3D3935;
    }
    li + li {
      margin-top: 35px;
    }
  }

  &__text {
    max-width: 787px;
    span {
      font-weight: bold;
    }
  }
}

.loyalty {
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #3D3935;

  &__title {
    margin-bottom: 15px;
    
  }

  &__list {
    margin: 35px 0;
    padding-left: 20px;

    li + li {
      margin-top: 15px;
    }
  }

  &__percent {
    display: flex;
    align-items: center;

    &-number {
        font-weight: bold;
        font-size: 64px;
        line-height: 88.4%;
        text-transform: uppercase;
        color: #D05871;
        margin-right: 25px;
    }

    &-item {
      display: flex;
      align-items: center;

      & + & {
        margin-left: 35px;
      }

      &--10 {
        max-width: 665px;
      }

      &--5 {
        max-width: 330px;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }

  &__item {
    &-img {
      width: 48px;
      height: 48px;
      object-fit: cover;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9C9C9C;
    }
  }
}

.corporate {
  li {
        color: #3D3935;
  }
  &__list {
    margin-top: 35px;
    li {
      font-size: 18px;
      font-weight: normal;
      line-height: 170%;
    }
  }

  &__text {
    span {
      font-weight: bold;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }

  &__item {
    &:last-child {
      grid-column-start: 2;
      grid-column-end: 4  ;
    }

    &-img {
      width: 48px;
      height: 48px;
      object-fit: cover;
      margin-bottom: 16px;
    }

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #3D3935;
      margin-bottom: 8px;
    }

    &-text {
      margin: 0 !important;
      font-size: 14px;
      line-height: 21px;
      color: #9C9C9C;
    }

    &-list {
      li {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin: 0 !important;
        span {
          color: #9C9C9C;
        }
      }
    }
  }
  
}

.rules {

  &__title {
    margin-bottom: 35px;
  }

  &__list {
    li {
      font-weight: normal;
      font-size: 18px;
      line-height: 170%;
      color: #3D3935;
    }
    li + li {
      margin-top: 30px !important;
    }
  }

  &__strong {
    font-weight: 600;
    font-size: 18px;
    line-height: 132%;
    position: relative;
    padding-left: 10px;
    margin-top: 48px;

    &::before {
      content: '*';
      position: absolute;
      top: 0;
      left: 0;
      color: #D05871;
    }
  }

  &__text {
    span {
      font-weight: bold;
    }
  }

  &__link {
    color: #D05871;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}

.shopping {
  &__subtitle {
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;
    text-transform: uppercase;
    color: #D05871;
    margin-top: 35px;
  }

  &__list {
    margin-top: 16px;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #3D3935;
    padding-left: 20px;

    li + li {
      margin-top: 20px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }

  &__item {
    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #3D3935;
      margin: 16px 0;
    }

    &-img {
      width: 100%;
      height: auto;
    }
    
    &-link {
      font-size: 14px;
      line-height: 17px;
      text-decoration-line: underline;
      color: #D05871;
      padding-left: 30px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    &-telegram {
      margin-right: 35px;
      &::before {
        background-image: url(../images/icons/telegram-link.svg);
      }
    }

    &-viber {
      &::before {
        background-image: url(../images/icons/viber-link.svg);
      }
    }
  }
}