.intro {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 727px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 44px;
    margin-bottom: 60px;
    position: relative;
  
    &__season {
      position: relative !important;
      bottom: 0 !important;
    }
  
    &__title {
      font-weight: bold;
      font-size: 96px;
      line-height: 88.4%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      max-width: 1100px;

      &-arrow {
        color: #3D3935;
      }
    }
  
    &__text {
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF;
      max-width: 620px;
      margin-top: 35px;
    }
  
    &__btn{
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      padding: 24px 72px;
      background: #D05871;
      border-radius: 100px;
      border: none;
      position: absolute;
      bottom: 44px;
      display: inline-block;
    }

    &__arrow {
        position: absolute;
        bottom: 0;
    }

  }
  