.mailing {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        max-width: 560px;
    }

    &__title {
        font-size: 48px;
        line-height: 49px;
    }

    &__text {
        margin: 24px 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 132%;
        color: #3D3935;
    }
}