@media(max-width: 1200px) {
    .obag__insta {
        &-gallery {
            grid-gap: 20px;
        }
    }

    .details {
        &__inner {
            grid-gap: 20px;
        }
    }

    .card {
        &__inner {
            grid-gap: 20px;
        }

        &__item {
            width: 100%;
            height: 260px;
        }
    }

    .combination {
        &__title {
            font-size: 40px;
            line-height: 50px;
        }

        &__img {
            width: 500px;
            height: 500px;
        }
    }

    .contacts {
        &__content {
            &-title {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }

    .certificates {
        &__inner {
            grid-column-gap: 20px;
        }
    }
}


@media(max-width: 1150px) {
    .details {
        &__item {
            width: 100%;
            height: 240px;
        }
        &__design {
            width: 100%;
            height: 240px;
        }
    }

    .constructor {
        &__inner {
            grid-gap: 10px;
        }
    }

    .catalog {
        &__content {
            max-width: 750px;
        }
    }
}

@media(max-width: 1100px) {
    .page {
        &__title {
            font-size: 54px;
        }

        &__basket {
            &-btn {
                padding: 4px 30px 4px 10px;
                font-size: 12px;
                line-height: 14px;

                &::after {
                    right: 10px;
                }
            }
        }
    }

    .product__card {
        &-sale {
            padding: 5px 10px;
        }
    }

    .news {
        &__inner {
            grid-column-gap: 20px;
        }
    }

    .details {
        &__design {
            &-text {
                font-size: 16px;
            }
            &-btn {
                padding: 5px 15px;
            }
        }

        &__item {
            &-title {
                font-size: 20px;
            }
        }
    }

    .mailing {
        &__title {
            font-size: 40px;
        }

        &__img {
            width: 362px;
            height: 362px;
        }
    }

    .combination {
        &__title {
            font-size: 40px;
            line-height: 50px;
        }

        &__img {
            width: 500px;
            height: 500px;
        }
    }

    .intro {
        &__title {
            font-size: 70px;
            color: #000000;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .about {
        &__products {
            &-title {
                margin-bottom: 40px;
            }
        }
        &__item {
            padding: 30px 0;
            &-text {
                font-size: 15px;
                margin: 20px 0;
            }
            &-img {
                height: 400px;
            }
        }
    }

    .contacts {

        &__inner {
            align-items: flex-start;
        }
        
        &__content {
            &-title {
                font-size: 30px;
                line-height: 40px;
            }
        }

        &__form {
            &-input,
            &-textarea {
                padding: 10px 15px;
            }

            &-btn {
                padding: 10px 30px;
            }
        }
    } 

    .delivery {
        &__subtitle {
            font-size: 30px;
        }
    }

    .loyalty {
        &__percent{
            &-number {
                font-size: 45px;
                margin-right: 10px;
            }
            &-item + &-item {
                margin-left: 10px;
            }
        }
    }

    .certificates {
        &__item {
            &-title {
                font-size: 16px;
                margin-bottom: 15px;
            }
        }
    }

    .basket {
        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__price {
            margin-top: 30px;
        }
    }

    .aside {
        &__price {
            &-body {
                &::before {
                    width: 5%;
                }
            }
        }
    }

    .constructor {
        &__card {
            &-img {
                height: 400px;
            }
        }
        &__inner {
            grid-gap: 10px;
        }
    }



    .footer {
        &__inner {
            grid-column-gap: 20px;
        }
    }
}   

@media(max-width: 980px) {

    .page {
        &__title {
            font-size: 45px;
        }

        &__border-btn {
            padding: 15px 50px;
        }
    }

    .product__card {
        &-sale {
            padding: 5px 10px;
            font-size: 10px;
            line-height: 12px;
        }

        &-title {
            font-size: 15px;
        }
    }

    .will__like {
        &-inner {
            grid-column-gap: 20px;
        }
    }

    .shop {
        &__inner {
            grid-column-gap: 20px;
        }
    }

    .details {
        &__design {
            height: 200px;
            &-text {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }

        &__item {
            height: 200px;
            &-title {
                font-size: 18px;
            }
        }
    }

    .mailing {
        &__content {
            max-width: 400px;
        }

        &__title {
            font-size: 35px;
            line-height: 40px;
        }
    }

    .card {
        &__inner {
            grid-template-columns: repeat(3, 1fr);
        }

        &__item {
            width: 100%;
            height: 260px;
        }
    }

    .clock {
        &__title {
            grid-column-start: 3;
            grid-column-end: 4;
            font-size: 50px;
        }
    }

    .combination {
        &__title {
            font-size: 35px;
            line-height: 40px;
        }

        &__img {
            width: 400px;
            height: 400px;
        }
    }

    .loyalty {
        &__percent{
            display: block;
            &-item + &-item {
                margin-left: 0px;
                margin-top: 20px;
            }
        }
    }

    .shopping {
        &__inner {
            grid-gap: 20px;
        }

        &__item {
            &-telegram {
                margin-right: 20px;
            }
        }
    }

    .warranty {
        &__title {
          &-red {
            font-size: 35px;
            line-height: 45px;
          }
        }
    }

    .exploitation {

        &__inner {
            padding: 60px 0;
        }
        &__card {
            padding: 50px 20px;
            
            &+& {
                margin-top: 60px;
            }
        }
    }

    .certificates {
        &__inner {
            grid-template-columns: repeat(3, 1fr);
        }
        &__item {
            &-price {
                font-size: 16px;
            }
        }
    }

    .aside {
        width: 190px;
        input + input {
            margin-top: 20px;
        }
        &__price {
            &-body {
                flex-direction: column;
                align-items: flex-start;
                &::before {
                    transform: rotate(90deg);
                }
            }

            &-input {
                width: 100%;
            }
        }
    }


    .season {
        &__intro {
            width: 450px;
            height: 450px;
        }
    }

    .catalog {
        &__content {
            max-width: 650px;
        }
    }

    .footer {
        &__inner {
            grid-column-gap: 10px;
        }
    }
}

@media(max-width: 900px) {
    .header {
        &__search {
            width: 200px;
        }

        &__logo {
            img {
                width: 120px;
            }
        }
    }

    .nav {
        &__list {
            padding: 15px 0;
        }

        &__link {
            font-size: 12px;
            line-height: 18px;   
        }
    }

    .mid__flash {
        &-text {
            margin: 20px 0;
        }
    }

    .news {
        &__item {
            &-title {
                font-size: 16px;
                margin-bottom: 5px;
            }

            &-text {
                font-size: 13px;
                margin-bottom: 15px;
            }
        }
    }

    .combination {
        &__title {
            font-size: 30px;
            line-height: 40px;
        }

        &__img {
            width: 300px;
            height: 300px;
        }
    }

    .history {
        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 16px;
            margin: 20px 0;
        }
    }

    .about {

        &__brand {
            &-text {
                font-size: 16px;
                line-height: 120%;
            }
        }

        &__products {
            &-title {
                margin-bottom: 40px;
            }
        }
        &__item {
            padding: 30px 0;
            &-text {
                font-size: 13px;
                line-height: 15px;
                margin: 15px 0;
            }
            &-img {
                height: 300px;
            }
        }
    }

    .contacts {
        &__content {
            &-title {
                font-size: 20px;
                line-height: 30px;
            }

            &-text {
                font-size: 15px;
            }

            &-item {
                padding-left: 30px;

                &+& {
                    margin-top: 20px;
                }
                &::before {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    } 

    .delivery {
        &__inner {
            grid-gap: 20px;
        }
    }

    .characteristic {
        &__inner {
            grid-template-columns: 1fr;
        }

        &__product,
        &__content {
            max-width: 100%;
            width: 100%;
        }

        &__product {
            margin-bottom: 40px;
        }
    }

    .constructor {
        &__container {
            flex-direction: column;
        }
        &__card {
            &-img {
                width: 560px;
                height: 560px;
                margin: 0 auto 20px;
            }
        }

        &__product {
            margin-right: 0;
            margin-bottom: 30px;
        }

        &__elements {
            &-title {
                margin-bottom: 30px;
            }
            &-inner {
                grid-template-columns: repeat(4, 1fr);
                margin-bottom: 20px;
            }
            &-item {
                text-align: center;
            }
            .product__card {
                margin: 0 auto;
            }
        }
    }

    .footer {
        &__list {
            text-align: center;
            &-item {
                & + & {
                    margin-top: 5px;
                }
            }
            &-link {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}

@media(max-width: 870px) {
    .will__like {
        &-inner {
            grid-column-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
        }

        &-top {
            flex-direction: column;
            align-items: center;
        }

        &-title {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .shop {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    .product__card {
        margin: 0 auto;
    }

    .intro {
        &__title {
            font-size: 70px;
        }

        &__text {
            margin-top: 20px;
        }
    }

    .inside {
        &__title {
            font-size: 40px;
        }
    }
    
    .corporate {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item:last-child {
            grid-column-start: 1;
            grid-column-end: 3 ;
        }
    }

    .shopping {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 40px;
        }

        &__item {
            &-telegram {
                margin-right: 20px;
            }
        }
    }

    .catalog {
        &__inner {
            grid-gap: 20px;
        }
    }

    .season {
        &__inner {
            flex-direction: column;
        }

        &__slider {
            margin-top: 30px;
            margin-right: 0;
        }
    }

    .catalog {
        &__content {
            max-width: 600px;
        }
    }

}

@media(max-width: 800px) {
    .header {
        &__top {
            padding: 15px 0 10px;
        }
        &__link {
            font-size: 12px;
            line-height: 12px;
            &::before {
                width: 20px;
                height: 20px;
            }
        }

        &__profile {
            padding-left: 25px;
        }

        &__number {
            font-size: 9px;
            width: 15px;
            height: 15px;
        }
    }

    .language {
        &__header {
            padding: 2px 10px;
        }

        &__body {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .intro {
        min-height: auto;
        height: 450px;

        &__btn {
            padding: 15px 40px;
        }

        &__title {
            font-size: 50px;
            color: #000000;
        }

        &__text {
            font-size: 14px;
            margin-top: 10px;
        }
    }
    

    .news {
        &__title {
            font-size: 35px;
        }
    }

    .mailing {
        &__img {
            width: 300px;
            height: 300px;
        }
    }

    .details {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .mission {
        &__content {
            padding: 30px 0;
        }

        &__text {
            font-size: 16px;
        }
    }

    .delivery {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .loyalty {
        &__inner {
            grid-template-columns: repeat(2,1fr);
        }
    }

    .catalog {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
        &__content {
            max-width: 500px;
        }
    } 
    .product__card-img {
        height: auto;
    }
    .constructor {
        &__product{
            &-title  {
                font-size: 45px;
                margin-bottom: 30px;
            }
        }
    }

    .footer {
        padding-bottom: 20px ;
        &__left {
            &-top {
                flex-direction: column;
                align-items: center;
            }
        }

        &__right {
            flex-direction: column;
            align-items: center;
        }

        &__list {
            max-width: 200px;

            &+& {
                margin-top: 30px;
            }
        }

        &__copy {
            padding-top: 30px;
        }
    }
}

@media(max-width: 750px) {
    .header {
        &__search {
            width: 150px;
        }
    }
    .nav {
        &__link {
            font-size: 11px;
            line-height: 18px;
        }
    }

    .mid__flash {
        &-title {
            font-size: 30px;
        }

        &-text {
            font-size: 16px;
            line-height: 120%;
        }

        &-btn {
            padding: 10px 20px;
        }
    }

    .news {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
        &__item {
            margin: 0 auto;
        }
    }

    .mailing {
        &__content {
            max-width: 300px;
        }

        &__title {
            font-size: 25px;
            line-height: 30px;
        }

        &__text {
            font-size: 16px;
            margin: 15px 0;   
        }

        &__btn {
            padding: 10px 30px;
        }
    }

    .history {
        &__content {
            padding: 30px 0 !important;
        }

        &__title {
            font-size: 30px;
        }
        
        &__text {
            font-size: 14px;
            margin: 15px 0;
        }
    }

    .loyalty {
        &__inner {
            grid-template-columns: repeat(1,1fr);
        }
    }
    
    .exploitation {
        &__inner {
            padding: 30px 0;
        }
        &__card {
            
            &-title {
                font-size: 35px;
                line-height: 50px;
            }
            &-btn {
                width: 200px;
            }
        }
    }

    .certificates {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .account {
        &__sidebar {
            padding-right: 30px;
            margin-right: 30px;
        }
    }

    .footer {
        &__info {
            &-text {
                font-size: 13px;
                padding-left: 20px;

                &::before {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

}

@media(max-width: 700px) {

    .header {
        position: relative;
        &__top {
            grid-gap: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            position: relative;
        }

        &__logo {
            grid-column-start: 1;
            grid-column-end: 6;
            margin: 0 auto;
        }

        &__form {
            grid-column-start: 1;
            grid-column-end: 5;
        }

        &__search {
            width: 100%;
        }

        &__link {
            margin: 20px 0 20px auto;
            font-size: 0;

            &::before {
                width: 30px;
                height: 30px;
            }
        }

        &__number {
            width: 18px;
            height: 18px; 
            top: -100%;
            left: 15px;
        }

        &__bookmarks {
            grid-column-start: 3;
            grid-column-end: 4;
        }

        &__profile-item {
           margin: 20px 10px 25px auto;
        }
    }

    .language {
        grid-column-start: 5;
        grid-column-end: 6;
        &__header {
            padding: 7px 10px;
        }
    }

    .nav {

        &__list.active {
            left: 0;
            right: 0;
            background-color: #fff;
        }
    
        &__list {
            position: absolute;
            left: -200%;
            z-index: 100;
            transition: all 0.2s linear;
            flex-direction: column;
        }

        &__item + &__item {
            margin-top: 20px;
        }

        &__link {
            font-size: 20px;
            line-height: 22px;
        }
    }

    .burger {
        display: block;
    }

    .intro {
        height: 335px;
    }

    .card {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            height: 230px;
        }
    }

    .clock {
        &__title {
            grid-column-start: 2;
            grid-column-end: 3;
            font-size: 50px;
        }
    }

    .combination {
        &__title {
            font-size: 25px;
            line-height: 30px;
        }
    }

    .contacts {
        &__content {
            &-title {
                font-size: 15px;
                line-height: 20px;
            }


            &-item {
                padding-left: 30px;

                &+& {
                    margin-top: 10px;
                }
                &::before {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    } 

    .inside {
        &__title {
            font-size: 35px;
        }
    }

    .loyalty {
        &__title {
            font-size: 35px;
        }
    }

    .warranty {
        &__title {
          &-red {
            font-size: 30px;
            line-height: 40px;
          }
        }
    }

    .catalog {
        &__page {
           flex-direction: column;
        }
        &__content {
            margin-top: 30px;
            margin-left: 0;
            max-width: none;
            width: 100%;
        }
    }

    .aside {
        width: 100%;
        input + input {
            margin-top: 0;
        }
 
        &__price {
 
         &-from {
             margin-right: 40px;
         }
            
            &-body {
                flex-direction: row;
                &::before {
                 transform: rotate(0deg);
                 left: 48%;
             }
            }
            &-input {
                max-width: 200px;
            }
        }
    }
}

@media(max-width: 670px) {
    .obag__insta {
        &-title {
            font-size: 30px;
        }
    }

    .news {
        &__title {
            font-size: 30px;
        }
    }

    .mailing {
        padding-bottom: 20px;
        &__img {
            position: absolute;
            bottom: 0;
            right: 10px;
            width: 200px;
            height: 200px;
        }
    }

    .mission {
        &__content {
            padding: 15px 0;
        }

        &__text {
            font-size: 14px;
            &+& {
                margin-top: 15px;
            }
        }
    }

    .about {
        &__inner {
            flex-direction: column-reverse;
        }

        &__products {
            &-title {
                font-size: 35px;
                margin-bottom: 20px;
            }
        }
        &__content {
            &-title {
                font-size: 30px;
            }
        }
        &__item {
            padding: 10px 0;
            &-text {
                font-size: 13px;
                line-height: 15px;
                margin: 15px 0;
            }
            &-img {
                width: 300px;
                height: 300px;
            }
        }
    }

    .vacancies {
        &__title {
            font-size: 35px;
        }

        &__text {
            font-size: 16px !important;
            margin: 15px 0 !important;
        }
        &__form {
            &-box {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &__textarea {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
    

    .footer {
        &__info {
            &-text {
                font-size: 12px;
                padding-left: 20px;
            }
        }
    }
}

@media(max-width: 600px) {
    .page {
        &__border-btn {
            padding: 10px 30px;
        }
    }
    .will__like {
        &-inner {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .shop {
        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .obag__insta {
        &-gallery {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .mid__flash {

        &-inner {
            &+& {
                margin-top: 50px;
            }
        }

        &-title {
            font-size: 24px;
        }

        &-text {
            font-size: 14px;
        }
        
        &-btn {
            padding: 10px 20px;
        }
    }

    .news {
        &__title {
            font-size: 25px;
        }
    }

    .combination {
        &__title {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px;
        }

        &__img {
            height: 250px;
        }
    }

    .intro {
        &__title {
            font-size: 40px;
            color: #000000;
        }
    }

    .contacts {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__content {
            margin-bottom: 20px;
            &-title {
                font-size: 20px;
                line-height: 30px;
            }
        }
    } 

    .inside {
        &__block {
            padding: 30px 0;
        }
    }

    .delivery {
        &__subtitle {
            font-size: 30px;
        }
    }

    .inside {
        &__title {
            font-size: 30px;
        }
    }

    .corporate {
        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item:last-child {
            grid-column-start: 1;
            grid-column-end: 2 ;
        }
    }

    .rules {
        &__strong {
            font-size: 16px;
        }
    }

    .warranty {
        &__title {
          &-red {
            font-size: 25px;
            line-height: 35px;
          }
        }
    }

    .exploitation {
        &__inner {
            padding: 15px 0;
        }
        &__card {
            &-title {
                font-size: 25px;
                line-height: 30px;
            }
            &-btn {
                width: 150px;
                padding: 10px;
            }

            &-text {
                font-size: 16px;
                margin: 10px 0 25px !important;
            }
        }
    }

    .basket {
        &__price,
        &__products {
            width: 100%;
        }
    }

    .characteristic {
        &__inner {
            grid-template-columns: 1fr;
        }

        &__product {
            &-img {
                height: 400px;
            }
        }

        &__buttons {
            flex-wrap: wrap;
        }
    }

    .parts {
        &__img {
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }
    }

    .account {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__sidebar {
            padding-right: 0;
            padding-bottom: 20px;
            margin-right: 0;
            margin-bottom: 20px;
            border-right: none;
            border-bottom: 1px solid #F6F6F6;
            width: 100%;
        }

        &__info {
            width: 100%;
            div {
                justify-content: space-between;
                a {
                    width: 50%;
                }
            }
        }
    }

   .constructor {
    &__card {
        &-img {
            width: 100%;
            height: 400px;
        }
    }
    }

    .modal {
        &__container {
            max-width: 400px;
            padding: 20px 30px;
        }
        &__login {
            &-social {
                flex-direction: column;
                button + button {
                    margin-left: 0;
                    margin-top: 16px;   
                }
            }
        }

        &__products {

            .order__products-title {
                font-size: 16px;
            }
            .order__products-img {
                width: 100px;
                height: 100px;
            }

            .order__products-newprice {
                font-size: 16px;
            }
        }
    }

    .footer {
        &__list {
            max-width: 100%;

            &-title {
                font-size: 16px;
                line-height: 18px;
            }
            &-item {
                &+& {
                    margin-top: 10px;
                }
            }

            &-link {
                font-size: 15px;
                line-height: 17px;
            }
        }
        &__left {
            margin-top: 20px;
        }
        &__inner {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        &__info {
            &-text {
                font-size: 16px;
                line-height: 20px;
                margin-right: 10px;
            }
        }

        &__copy {
            &-text {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    .clock {
        &__title {
            font-size: 40px;
        }
    }

    .product{
        &__card {
            max-width: 200px;
        }
    }
}

@media(max-width: 520px) {
    .page {
        &__block {
            padding: 30px 0;
        }
    }

    .will__like {
        &-title {
            font-size: 35px;
        }
    }

    .mid__flash{
        &-title {
            font-size: 20px;
            line-height: 120%;
        }

        &-btn {
            padding: 5px 15px;
        }
    }

    .obag__insta {
        &-title {
            font-size: 25px;
        }
    }

    .news {
        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }

        &__title {
            font-size: 23px;
        }

        &__link {
            font-size: 12px;
        }
    }

    .mailing {
        padding-top: 20px;
        &__img {
            width: 150px;
            height: 150px;
        }
    }
    
    .card {
        &__item{
            height: 200px;
            &-title {
                font-size: 18px;
            }
        }
    }

    .clock {
        &__title {
            font-size: 30px;
        }
    }

    .combination {
        &__inner {
            flex-direction: column-reverse;
            text-align: center;
            align-items: center;
        }

        &__container {
            margin-right: 0;
        }

        &__img {
            margin-bottom: 20px;
            width: 250px;
        }
    }

    .mission {
        &__title {
            font-size: 30px;
            margin-bottom: 15px;
        }

        &__text {
            &+& {
                margin-top: 10px;
            }
        }
    }

    .about {
        &__all {
            margin-top: 50px 0;
            font-weight: normal;
            font-size: 15px;
            line-height: 120%;
            color: #000000;
    
            &-text {
                margin: 20px 0;
            }
        }
    }

    .loyalty {
        &__title {
            font-size: 30px;
        }
    }

    .season {
        &__intro {
            width: 350px;
            height: 350px;
        }

    }

    .product {
        &__card {
              max-width: 180px;

            &-img {
                height: 200px;  
            }
            &-title {
                font-size: 13px;
            }
            .page__basket-btn {
                font-size: 10px;
                &::after {
                    width: 13px;
                    height: 13px;
                }
            }
            .product__card-link {
                font-size: 12px;    
            }
        }
    }


    .order {
        &__buttons {
            justify-content: space-between;
        }
        &__method {
            text-align: center;

            &-btn {
                display: block;
                margin: 10px auto
            }
        }
    }
}

@media(max-width: 470px) {
    .mailing {
        &__img {
            width: 100px;
            height: 100px;
        }
    }

    .history {
        &__content {
            padding: 15px 0 !important;
        }

        &__title {
            font-size: 20px;
        }
        
        &__text {
            font-size: 13px;
        }
    }

    .contacts {
        &__form {
            &-label {
                font-size: 12px;
                line-height: 18px;
            }

            &-btn {
                margin-top: 15px;
            }
        }
    }

    .inside {
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 25px;
        }
    
        &__block {
            p {
                margin: 10px 0;
                font-size: 16px;
                line-height: 120%;
            }
        }
    }

    .loyalty {
        font-size: 16px;
        &__title {
            font-size: 35px;
        }
    }

    .shopping {
        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }

    }

    .exploitation {
        &__title {
            font-size: 25px !important;
        }
        &__text {
            font-size: 16px !important;
            line-height: 120% !important; 
        }
    }

    .certificates {
        &__inner {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            &-title,
            &-text {
                font-size: 18px;
            }

            &-basket {
                padding: 8px 40px 8px 16px;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    .order {
        &__products {
            &-content {
                width: 200px;
            }
            &-title {
                font-size: 16px;
            }
        }
    }

    .catalog {
        
    }

   

    .constructor {
        &__elements {
            &-inner {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

}

@media(max-width: 400px) {
    .will__like {
        &-btn {
            margin-bottom: 10px;
            &+& {
                margin-left: 5px;
            }
        }

        &-inner {
            margin: 20px 0 40px;
        }
    }

    .mid__flash {
        &-img {
            width: 50%;
        }
    }

    .about {
        &__inner {
            flex-direction: column-reverse;
        }

        &__products {
            &-title {
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
        &__content {
            &-title {
                font-size: 25px;
            }
        }
        &__item {
            &-img {
                width: 250px;
                height: 250px;
            }

            &-btn {
                padding: 10px 15px;
                &+& {
                    margin-left: 10px;
                }
            }
        }
    }

    .footer {
        &__info {
            &-text {
                font-size: 13px;
                line-height: 16px;
            }

            &-schedule {
                margin-top: 10px;
            }
        }

        &__copy {
            margin-top: 20px;
        }
    }

    .details {
        &__design {
            height: 150px;
            padding: 5px 10px;

            &-text {
                font-size: 13px;
                text-align: center;
            }
        }
        &__item {
            height: 150px;
        }
    }

    .shop {
        &__title {
            font-size: 30px;
        }
    }

    .order {
        &__products {
            &-title {
                font-size: 15px;
            }
            &-img {
                width: 110px;
                height: 120px;
            }
        }
    }

    .account {
        &__title {
            font-size: 16px;
        }
        &__text {
            font-size: 13px;
        }
    }

    .season {
        &__intro {
            width: 300px;
            height: 300px;
        }
    }

    .modal {
        .order__buttons {
            flex-direction: column;
            justify-content: center;
        }

        .order__buttons-issue {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

    .constructor {
        &__buttons {
            flex-direction: column;
        }
        &__btn {
            width: 100%;
        }
    }

    .product {
       
        &__card {
            max-width: 160px;

            &-img {
                height: auto;
            }
            &-title {
                font-size: 11px;
            }
            .page__basket-btn {
                font-size: 10px;
                padding: 2px 20px 2px 10px;
                &::after {
                    width: 12px;
                    height: 12px;
                    right: 5px;
                }
            }
            &-link {
                font-size: 10px;    
            }
            &-oldprice {
                font-size: 12px;
                margin-bottom: 0;
            }
            &-newprice {
                font-size: 15px;
            }
        }
    }
    
}