.mission {

    &__content {
        padding: 60px 0;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 170%;
        color: #3D3935;

        & + & {
            margin-top: 35px;
        }
    }

    &__img {
        display: block;
        margin: 35px auto 0;
    }
}