.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 105px;
  padding-bottom: 50px;
  min-height: 100vh;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.4);

  &__error {
    font-size: 10px;
    line-height: 12px;
    margin-top: 10px;
  }

  &__close {
    background: none;
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  &__container {
    max-width: 615px;
    padding: 35px 64px;
    margin: 0 auto;
    background-color: #fff;
  }

  &__top {
    margin-bottom: 24px;
    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #3d3935;
      position: relative;
      padding-left: 32px;

      &::before {
        content: "";
        position: absolute;
        transform: translateY(-50%);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/icons/black-arrow.svg);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__contacts {
    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #3d3935;
      padding: 24px 0;
      border-top: 1px solid #f6f6f6;
      border-bottom: 1px solid #f6f6f6;
    }

    input {
      width: 100%;
      background: #f6f6f6;
      border-radius: 100px;
      padding: 17px 24px 17px 64px;
      border: none;
      outline: none;
      background-position: 24px;
      background-color: #f6f6f6;
      background-repeat: no-repeat;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9c9c9c;

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #9c9c9c;
      }
    }
    input + input {
      margin-top: 16px;
    }

    // &-name {
    //   background-image: url(../images/icons/modal-name.svg) !important;
    // }

    // &-phone {
    //   background-image: url(../images/icons/modal-call.svg) !important;
    // }
    // &-email {
    //   background-image: url(../images/icons/email.png) !important;
    // }
    // &-adress {
    //   background-image: url(../images/icons/modal-message.svg) !important;
    // }
    
  }

  &__login {
    text-align: center;

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #3d3935;
      margin-bottom: 24px;
    }

    &-social {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      button {
        border-radius: 100px;
        padding: 16px 72px;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        border: none;
      }

      button + button {
        margin-left: 16px;
      }
    }

    &-google {
      background: #cd5642;
      color: #fff;
      font-size: 20px;
      padding: 10px;
      border-radius: 20px;
      display: flex;
      align-items: center;
    }

    &-facebook {
      background: #425893;
    }

    &-input {
      width: 100%;
      background: #f6f6f6;
      border-radius: 100px;
      padding: 17px 24px 17px 64px;
      border: none;
      outline: none;
      background-position: 24px;
      background-color: #f6f6f6;
      background-repeat: no-repeat;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9c9c9c;

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #9c9c9c;
      }

      & + & {
        margin-top: 16px;
      }
    }

    &-email {
      background-image: url(../images/icons/message-black.svg);
    }

    &-name {
      background-image: url(../images/icons/login-black.svg);
    }

    &-phone {
      background-image: url(../images/icons/call-black.svg);
    }

    &-password {
      background-image: url(../images/icons/password-icon.svg) !important;
    }

    &-btn {
      display: inline-block;
      background: #d05871;
      border-radius: 100px;
      font-size: 14px;
      line-height: 17px;
      padding: 16px 72px;
      border: 2px solid #d05871;
      color: #ffffff;
      margin: 24px auto;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 21px;
      a {
        color: #d05871;
      }
      a + a {
        margin-left: 24px;
      }
    }
  }

  &__review {
    text-align: center;

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #3d3935;
      margin-bottom: 24px;
    }

    &-input {
      width: 100%;
      background: #f6f6f6;
      border-radius: 100px;
      padding: 17px 24px 17px 64px;
      border: none;
      outline: none;
      background-position: 24px;
      background-color: #f6f6f6;
      background-repeat: no-repeat;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9c9c9c;

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #9c9c9c;
      }

      & + & {
        margin-top: 16px;
      }
    }

    &-textarea {
      height: 100px;
      resize: none;
    }

    &-email {
      background-image: url(../images/icons/modal-message.svg) !important;
    }

    &-btn {
      display: inline-block;
      background: #d05871;
      border-radius: 100px;
      font-size: 14px;
      line-height: 17px;
      padding: 16px 72px;
      border: 2px solid #d05871;
      color: #ffffff;
      margin: 24px auto;
    }
  }

  &__one-click-order {
    text-align: center;

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #3d3935;
      margin-bottom: 24px;
    }

    &-input {
      width: 100%;
      background: #f6f6f6;
      border-radius: 100px;
      padding: 17px 24px 17px 64px;
      border: none;
      outline: none;
      background-position: 24px;
      background-color: #f6f6f6;
      background-repeat: no-repeat;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9c9c9c;

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #9c9c9c;
      }

      & + & {
        margin-top: 16px;
      }
    }

    &-name {
      background-image: url(../images/icons/login-black.svg);
    }

    &-phone {
      background-image: url(../images/icons/modal-call.svg) !important;
    }

    &-btn {
      display: inline-block;
      background: #d05871;
      border-radius: 100px;
      font-size: 14px;
      line-height: 17px;
      padding: 16px 72px;
      border: 2px solid #d05871;
      color: #ffffff;
      margin: 24px auto;
    }
  }

  &__edits {
    display: block;

    &-title {
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    input {
      width: 100%;
      background: #f6f6f6;
      border-radius: 100px;
      padding: 17px 24px;
      border: none;
      outline: none;
      background-position: 24px;
      background-color: #f6f6f6;
      background-repeat: no-repeat;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9c9c9c;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #9c9c9c;
      }

      & + & {
        margin-top: 16px;
      }
    }
  }
}

.product__added {
  position: fixed;
  right: 10px;
  top: 20px;
  display: flex;
  align-items: center;
  max-width: 350px;
  background-color: #fff;
  z-index: 99999;
  border-radius: 15px;
  padding: 10px;
  box-shadow: -1px 3px 5px 4px rgb(0 0 0 / 50%);
  transition: all 0.4s linear;

  &-img {
    width: 50px;
    height: 50px;
  }
}
