.order {
  &__products {
    &-item {
      display: flex;
      align-items: flex-start;
      position: relative;
      padding: 24px 0;
      border-top: 1px solid #f6f6f6;
      border-bottom: 1px solid #f6f6f6;
    }
    &-img {
      width: 138px;
      height: 143px;
      margin-right: 15px;
      object-fit: cover;
      object-position: center;
    }

    &-content {
      max-width: 260px;
    }

    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #3d3935;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    &-oldprice {
      font-size: 14px;
      line-height: 17px;
      text-decoration-line: line-through;
      color: #9c9c9c;
      margin-bottom: 4px;
    }
    &-newprice {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
      color: #d05871;
    }

    &-btn {
      border: none;
      background: none;
      padding: 0;
      position: absolute;
      top: 24px;
      right: 0;
    }

    &-number {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      p {
        margin: 0 10px;
      }
    }

    &-minus,
    &-plus {
      background: none;
      border: none;
      outline: none;
      width: 16px;
      height: 16px;
      padding: 0;
    }
  }

  &__promo {
    &-input {
      width: 100%;
      padding: 16px 24px;
      background: #f6f6f6;
      border-radius: 100px;
      border: none;

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #3d3935;
      }
    }
  }

  &__price {
    &-content {
      margin: 24px 0;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          max-width: 50%;
        }
      }

      div + div {
        margin-top: 8px;
      }
    }
  }

  &__total {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #3d3935;
  }

  &__friday {
    font-weight: 600;
    font-size: 18px;
    line-height: 132%;
    color: #d05871;
  }

  &__deliver {
    font-size: 14px;
    line-height: 21px;
    color: #3d3935;
  }

  &__all {
    font-weight: 600;
    font-size: 18px;
    line-height: 132%;
    color: #3d3935;
  }

  &__buttons {
    display: flex;
    padding: 16px 0;
    justify-content: center;

    button {
      font-size: 14px;
      line-height: 17px;
      padding: 16px 24px;
      border-radius: 100px;
    }

    &-issue {
      background: #d05871;
      border: 2px solid #d05871;
      color: #fff;
      margin-right: 16px;
    }

    &-delete {
      border: 2px solid #9c9c9c;
      background: none;
      color: #9c9c9c;
    }
  }
}
