@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*
@function rem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  
  -webkit-appearance: none;
  margin: 0; 
}

.page {
  &__title {
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3935;
  }

  &__block {
    padding: 60px 0;

    &-top {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &-link {
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      text-decoration-line: underline;
      color: #d05871;
    }
  }

  &__basket-btn {
    border: 2px solid #3d3935;
    border-radius: 100px;
    padding: 8px 40px 8px 16px;
    color: #3d3935;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background: none;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .cart {
      width: 15px;
      height: 15px;
      position: absolute;
      left: -100%;
      top: 25%;
      color: #d05871;
      z-index: 9999;
    }
    
    .box {
      width: 10px;
      height: 10px;
      position: absolute;
      top: -100%;
      left: 47%;
      // transform: translateY(-50%);
      color: #d05871;
      z-index: 9998;
    }
    
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../images/icons/basket-btn.svg);
      width: 16px;
      height: 16px;
    }

    &.active {
      background-color: #d05871;
      border-color: #d05871;
      color: #ffff;
      animation: basket-animate 3.2s ease-in-out;

      .cart {
        animation: cart-animate 2s linear;
      }

      .box {
        animation: box-animate 3s linear;
      }
    }

    &.active::after {
      background-image: url(../images/icons/basket-white.svg);
    }
  }

  @keyframes cart-animate {
    0% {
      left: -100%;
    }
    5% {
      left: 10%;
      transform: translateX(-50%);
    }
    10% {
      left: 20%;
      transform: translateX(-50%);
    }
    25% {
      left: 50%;
      transform: translateX(-50%);
    }
    50% {
      left: 50%;
      transform: translateX(-50%);
    }
    75% {
      left: 50%;
      transform: translateX(-50%);
    }
    100% {
      left: 100%;
    }
  }

  @keyframes box-animate {
    0% {
      top: -100%;
      transform: translateY(-50%)
    }
    // 5% {
    //   top: 10%;
    //   transform: translateY(-50%);
    // }
    // 10% {
    //   top: 20%;
    //   transform: translateY(-50%);
    // }
    25% {
      top: 50%;
      transform: translateY(-50%);
    }
    50% {
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }
    75% {
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes basket-animate {
    0% {
      background-color: #fff;
      border-color: #d05871;
    }
    50% {
      background-color: #fff;
      border-color: #d05871;
    }
    100% {
      border-color: #d05871;
      background-color: #d05871;
    }
    
  }

  &__border-btn {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #3d3935;
    border-radius: 100px;
    border: 2px solid #d05871;
    padding: 22px 72px;
    background: none;
  }
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
}

.form-row {
  position: relative;
  button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: none;
    &:focus,
    &:active {
      outline: none;
    }
    &::after {
      content: '';
    }
    // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE9SURBVHgBlVLbbYNAEOQw8E0HoYOQDlyCO7ARAomvJBUYSvAXEiCRDuJUEDoIJbgEvnlmBnMWQcRRVlrfmtvZnZ09ocwsz3OzbduDqqqP06eq7/sPz/MKZWFCBlmW7Yid/pYEwS24DS+apnGCILj8AE6gd/hps9mEjuNUMiGOY0vX9U/GuHuSd4L0uq77EkIUrus6yopJ8DxHxQzsZtV1HSm/GCkOw3CC79hIArecYc5/zTRNe8NhYlZrBI58hbgLosnZoPgVCFAFCvZfwCRJxhzkXgsgOOO00zTd3gOi0zOOi9ypOgUFOudUbw00FT1Aj5uAGn+4XMpNB6UI55kzsZBhGHuwCpmHPT5I4O3lMAnKhei8XzSkBuxk4u4ID7HLSCxpTe/Vpnp4GKXv++WMMgsfUehVKP80gF+o7Df/zJ2q/BFUhgAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background: none;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}