.season {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__intro {
        background-image: url(~/assets/images/intro/season-intro.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 563px;
        height: 563px;
        padding-bottom: 45px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }

    &__slider {
        max-width: 260px;
        position: relative;
        margin-right: 50px;

        &-btn {
            &::after {
                display: none;
            }
            z-index: 100;
        }
    }
}
